/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 18, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 28, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 41, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 14, ../sass/style.scss */
body {
  font-family: "Roboto", sans-serif;
}

/* line 18, ../sass/style.scss */
.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

/* line 24, ../sass/style.scss */
nav {
  background: blue;
  height: 40px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  opacity: .85;
}
/* line 36, ../sass/style.scss */
nav ul li {
  display: inline;
  line-height: 40px;
}
/* line 40, ../sass/style.scss */
nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  width: 150px;
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  text-align: center;
  height: 40px;
}
/* line 51, ../sass/style.scss */
nav ul li a:hover {
  text-decoration: underline;
}

/* line 60, ../sass/style.scss */
section {
  padding: 75px 0;
}
/* line 63, ../sass/style.scss */
section h2 {
  font-size: 40px;
  margin: 20px 0;
}
/* line 68, ../sass/style.scss */
section h3 {
  font-size: 30px;
  margin: 20px 0;
}
/* line 73, ../sass/style.scss */
section h4 {
  font-size: 25px;
  margin: 10px 0;
}
/* line 78, ../sass/style.scss */
section blockquote {
  margin: 10px 20px;
  background: #FFFFFF;
  padding: 20px;
  width: 500px;
  float: left;
  line-height: 1.5em;
  -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.75);
}

/* line 89, ../sass/style.scss */
h1 {
  font-family: "Nova Square", serif;
  font-size: 125px;
  font-weight: bold;
  margin: 50px 20px;
  -webkit-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}
/* line 96, ../sass/style.scss */
h1 + h2 {
  padding-top: 125px;
  text-align: right;
}

/* line 102, ../sass/style.scss */
.topBtn, .nextBtn {
  position: fixed;
  bottom: 30px;
  z-index: 100;
  font-size: 30px;
  padding: 8px 15px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  color: #000000;
  background: #FFFFFF;
  -webkit-box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.75);
}

/* line 114, ../sass/style.scss */
.topBtn {
  right: 30px;
}

/* line 118, ../sass/style.scss */
.nextBtn {
  right: 110px;
}
