/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 18, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 28, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 41, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 14, ../sass/style.scss */
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 18, ../sass/style.scss */
html, body {
  height: 100%;
}

/* line 21, ../sass/style.scss */
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  background: url("../images/white_wall_hash.png") top left repeat;
}

/* line 31, ../sass/style.scss */
h2,
h3,
h4,
h5,
h6 {
  color: #8cc63f;
}

/* line 35, ../sass/style.scss */
h1 + h2 {
  color: #000;
}

/* line 39, ../sass/style.scss */
p + p {
  margin-bottom: 1em;
}

/* line 43, ../sass/style.scss */
ul {
  list-style-type: disc;
  margin: 0 1em;
}

/* line 48, ../sass/style.scss */
.container {
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 2.5%;
  width: 100%;
}

/* line 56, ../sass/style.scss */
.pull-right {
  float: right;
}

/* line 60, ../sass/style.scss */
.pull-left {
  float: left;
}

/* line 64, ../sass/style.scss */
.video-wrapper {
  height: 0;
  margin: 0 auto;
  padding-bottom: 56.25%;
  /* 16:9 ratio */
  position: relative;
}

/* line 71, ../sass/style.scss */
.video-stretch {
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
/* line 78, ../sass/style.scss */
.video-stretch iframe {
  height: 100%;
  width: 100%;
}

/* line 84, ../sass/style.scss */
.content-section {
  border-bottom: 1px solid black;
}

/* line 88, ../sass/style.scss */
.fin-contain {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-size: 250%;
  padding-bottom: 6em;
}
/* line 94, ../sass/style.scss */
.fin-contain .fin {
  font-family: serif;
  margin: auto;
  text-transform: capitalize;
}
/* line 100, ../sass/style.scss */
.fin-contain .fin:before {
  content: '~';
  margin-right: .5em;
}
/* line 105, ../sass/style.scss */
.fin-contain .fin:after {
  content: '~';
  margin-left: .5em;
}
/* line 110, ../sass/style.scss */
.fin-contain .fin-drop {
  font-size: 1.2em;
  font-weight: bold;
}

/* line 116, ../sass/style.scss */
#conclusion {
  border: 0;
}

/* line 120, ../sass/style.scss */
#renoVsACLU blockquote {
  width: 100%;
}

/* line 126, ../sass/style.scss */
#graphic img {
  width: 100%;
}

/* line 131, ../sass/style.scss */
nav {
  background: blue;
  height: 40px;
  opacity: .85;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
/* line 141, ../sass/style.scss */
nav ul {
  list-style-type: none;
  height: 100%;
}
/* line 145, ../sass/style.scss */
nav ul li {
  display: inline-block;
  line-height: 40px;
  width: 14%;
  float: left;
}
/* line 151, ../sass/style.scss */
nav ul li a {
  color: white;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  height: 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
/* line 162, ../sass/style.scss */
nav ul li a:hover {
  text-decoration: underline;
}

/* line 171, ../sass/style.scss */
section {
  padding: 1em 0;
  min-height: 100%;
}
/* line 175, ../sass/style.scss */
section h2 {
  font-size: 40px;
  margin: 20px 0;
}
/* line 180, ../sass/style.scss */
section h3 {
  font-size: 30px;
  margin: 20px 0;
}
/* line 185, ../sass/style.scss */
section h4 {
  font-size: 25px;
  margin: 10px 0;
}
/* line 190, ../sass/style.scss */
section blockquote {
  background: #FFFFFF;
  display: inline-block;
  padding: 2%;
  vertical-align: top;
  margin: 1.5%;
  width: 46%;
  -webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.75);
}

/* line 201, ../sass/style.scss */
h1 {
  font-family: "Nova Square", serif;
  font-size: 125px;
  font-weight: bold;
  margin: 50px 20px;
  -webkit-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}
/* line 208, ../sass/style.scss */
h1 + h2 {
  padding-top: 125px;
  text-align: right;
}

/* line 214, ../sass/style.scss */
.topBtn, .nextBtn {
  position: fixed;
  -webkit-border-radius: 50%;
  background: #FFFFFF;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  bottom: 30px;
  color: #000000;
  font-size: 30px;
  height: 50px;
  text-align: center;
  width: 50px;
  z-index: 100;
  -webkit-box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.75);
}

/* line 229, ../sass/style.scss */
.topBtn {
  right: 30px;
}

/* line 233, ../sass/style.scss */
.nextBtn {
  right: 110px;
}
