@import "reset";

$primaryColor: #FFFFFF;
$secondaryColor: #0000FF;
$sansFont: "Roboto", sans-serif;
$serifFont: "Nova Square", serif;

@mixin box-shadow($horiz: 2px, $vert: 2px, $blur: 6px, $spread: 0, $r: 0, $g: 0, $b: 0, $alpha: 0.75) {
	-webkit-box-shadow: $horiz $vert $blur $spread rgba($r,$g,$b,$alpha);
	-moz-box-shadow: $horiz $vert $blur $spread rgba($r,$g,$b,$alpha);
	box-shadow: $horiz $vert $blur $spread rgba($r,$g,$b,$alpha);
}

* {
  box-sizing: border-box;
}

html,body {
  height: 100%;
}
body {
    font-family: $sansFont;
    line-height: 1.5;
    background: url('../images/white_wall_hash.png') top left repeat;
}

h2,
h3,
h4,
h5,
h6, {
  color: #8cc63f;
}

h1+h2 {
  color: #000;
}

p+p {
  margin-bottom: 1em;
}

ul {
  list-style-type: disc;
  margin: 0 1em;
}

.container {
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 2.5%;
  width: 100%;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.video-wrapper {
    height: 0;
    margin: 0 auto;
    padding-bottom: 56.25%; /* 16:9 ratio */
    position: relative;
}

.video-stretch {
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;

    iframe {
      height: 100%;
      width: 100%;
    }
}

.content-section {
  border-bottom: 1px solid black;
}

.fin-contain {
  display: flex;
  position: relative;
  font-size: 250%;
  padding-bottom: 6em;

  .fin {
    font-family: serif;
    margin: auto;
    text-transform: capitalize;
  }

  .fin:before {
    content: '~';
    margin-right: .5em;
  }

  .fin:after {
    content: '~';
    margin-left: .5em;
  }

  .fin-drop {
    font-size: 1.2em;
    font-weight: bold;
  }
}

#conclusion {
  border: 0;
}

#renoVsACLU blockquote {
  width: 100%;
}

#graphic {

  img {
    width: 100%;
  }
}

nav {
    background: $secondaryColor;
    height: 40px;
    opacity: .85;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
        
    ul {
      list-style-type: none;
      height: 100%;

        li {
            display: inline-block;
            line-height: 40px;
            width: 14%;
            float: left;

            a {
                color: $primaryColor;
                display: inline-block;  
                font-size: 14px;
                font-weight: 400;
                height: 40px;
                text-align: center;
                text-decoration: none;
                text-transform: uppercase;
                width: 100%;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

    }
}

section {
	padding: 1em 0;
  min-height: 100%;

	h2 {
		font-size: 40px;
		margin: 20px 0;
	}

	h3 {
		font-size: 30px;
		margin: 20px 0;
	}

	h4 {
		font-size: 25px;
		margin: 10px 0;
	}
	
	blockquote {
    background: #FFFFFF;
    display: inline-block;
    padding: 2%;
    vertical-align: top;
    margin: 1.5%;
    width: 46%;
		@include box-shadow($horiz: 1px, $vert: 1px, $blur: 2px);
	}
}

h1 {
    font-family: $serifFont;
    font-size: 125px;
    font-weight: bold;
    margin: 50px 20px;
    transform: rotate(-10deg);
	
	& + h2 {
		padding-top: 125px;
		text-align: right;
	}
}

.topBtn, .nextBtn {
  position: fixed;
  -webkit-border-radius: 50%;
  background: #FFFFFF;
  border-radius: 50%;
  bottom: 30px;
  color: #000000;
  font-size: 30px;
  height: 50px;
  text-align: center;
  width: 50px;
  z-index: 100;
	@include box-shadow;
}

.topBtn {
	right: 30px;
}

.nextBtn {
	right: 110px;
}
