@import "reset";

$primaryColor: #FFFFFF;
$secondaryColor: #0000FF;
$sansFont: "Roboto", sans-serif;
$serifFont: "Nova Square", serif;

@mixin box-shadow($horiz: 2px, $vert: 2px, $blur: 6px, $spread: 0, $r: 0, $g: 0, $b: 0, $alpha: 0.75) {
	-webkit-box-shadow: $horiz $vert $blur $spread rgba($r,$g,$b,$alpha);
	-moz-box-shadow: $horiz $vert $blur $spread rgba($r,$g,$b,$alpha);
	box-shadow: $horiz $vert $blur $spread rgba($r,$g,$b,$alpha);
}

body {
    font-family: $sansFont;
}

.container {
	margin: 0 auto;
  max-width: 1200px;
	width: 100%;
}

nav {
    background: $secondaryColor;
    height: 40px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    opacity: .85;
        
    ul {


        li {
            display: inline;
            line-height: 40px;

            a {
                text-transform: uppercase;
                text-decoration: none;
				color: $primaryColor;
                width: 150px;
                font-size: 14px;
                font-weight: 400;
                display: inline-block;	
                text-align: center;
                height: 40px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

    }
}

section {
	padding: 75px 0;

	h2 {
		font-size: 40px;
		margin: 20px 0;
	}

	h3 {
		font-size: 30px;
		margin: 20px 0;
	}

	h4 {
		font-size: 25px;
		margin: 10px 0;
	}
	
	blockquote {
		margin: 10px 20px;
		background: #FFFFFF;
		padding: 20px;
		width: 500px;
		float: left;
		line-height: 1.5em;
		@include box-shadow($horiz: 1px, $vert: 1px, $blur: 2px);
	}
}

h1 {
    font-family: $serifFont;
    font-size: 125px;
    font-weight: bold;
    margin: 50px 20px;
    transform: rotate(-10deg);
	
	& + h2 {
		padding-top: 125px;
		text-align: right;
	}
}

.topBtn, .nextBtn {
	position: fixed;
	bottom: 30px;
	z-index: 100;
	font-size: 30px;
	padding: 8px 15px;
	border-radius: 50%;
	color: #000000;
	background: #FFFFFF;
	@include box-shadow;
}

.topBtn {
	right: 30px;
}

.nextBtn {
	right: 110px;
}
